html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "PT Sans";
  src: url("./fonts/2221.ttf");
}
@font-face {
  font-family: "PostNoBillsColombo";
  src: url("./fonts/PostNoBillsColombo-Bold.ttf");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("./fonts/PlayfairDisplay-Bold.ttf");
}
@font-face {
  font-family: "PlayfairDisplay_r";
  src: url("./fonts/PlayfairDisplay-Regular.ttf");
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.top {
  height: 44px;
  background-color: black;
  width: 100%;
  color: gray;
  text-indent: 10px;
  font-size: 12px;
  font-family: "PT Sans";
}
.top li {
  list-style-type: none;
}
.left-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.c-header-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
/* p{
    margin: auto;
} */
.c-header-1 a {
  color: gray;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
.right-ul {
  display: flex;
  flex-direction: row;
  text-indent: 3px;
  margin: 0;
}
.login {
  font-size: 16px;
  margin-right: 10px;
}
.phone {
  transform: rotate(90deg);
  margin-bottom: 10px;
  margin-right: 5px;
}

.header_bottom {
  height: 80px;
  background-color: #0f0f0f;
  width: 100%;
  color: white;
  font-size: 14px;
  font-family: "PostNoBillsColombo";
}
.header_bottom h1 {
  font-size: 36px;
  margin: auto;
}
.header_bottom h1 a {
  color: white;
}
.header__list {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "PT Sans";
}
.menu ul a {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color: gray;
  text-decoration: none;
}
.menu ul a:hover {
  color: white;
}
.header_bottom li {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100%;
  align-items: center;
}
.header_bottom li:hover {
  list-style-type: none;
  background-color: #1f1f1f;
}
.c-header-2 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  color: white;
  margin-left: 40px;
}

.poster {
  position: relative;
  z-index: 1;
  padding: 0;
}
.poster img {
  width: 100%;
  max-height: 810px;
  display: flex;
}
.poster .center {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.poster .test {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poster .square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px white solid;
  width: 320px;
  height: 320px;
}

.square h1 {
  font-family: "PostNoBillsColombo";
  font-size: 64px;
  border-bottom: 2px white solid;
}
.square p {
  font-size: 22px;
  margin-top: 10px;
  font-family: 'PT Sans';
}

.poster_bottom {
  margin-top: 80px;
}

.poster_bottom p {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 150%;
}

.header__burger {
  display: none;
}

.main_1 {
  display: flex;
  padding: 0;
}

.main_1_watch {
  flex-grow: 6;
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.main_1_watch h1 {
  font-family: "PlayfairDisplay";
  font-size: 36px;
}
.main_1_watch hr {
  width: 120px;
  background-color: white;
  margin: 50px 0;
}
.three_watch {
  display: flex;
  justify-content: center;
}

.container_watch {
  margin: 0 25px;
}
.container_watch h3 {
  font-family: "PlayfairDisplay_r";
  font-size: 18px;
  padding-top: 25px;
}

.container_watch p {
  font-family: "PlayfairDisplay";
  font-size: 16px;
  padding-top: 10px;
  color: lightgrey;
}

.watch {
  background-color: #191b1c;
  height: auto;
  max-width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_1_photo {
  padding: 0;
}

.main_1_photo img {
  width: 100%;
  max-height: 730px;
  display: flex;  
}
.container_watch img{
    width: 100%;
    height: auto;
    padding: 55px 22px;
}

.main_2 {
    display: flex;
    padding: 0;
  }
.main_2_photo {
    padding: 0;
  }
.main_2_photo img {
    width: 100%;
    max-height: 600px;
    display: flex;  
  }

.main_2_info {
    flex-grow: 6;
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
  }
.main_2_info p{
    max-width: 471px;
    padding: 0 20px 60px 20px;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 140%;
  }
.main_2_info h1 {
    font-family: "PlayfairDisplay_r";
    font-size: 36px;
  }
.main_2_info hr {
    width: 120px;
    margin: 40px 0;
    background-color: white;
  }

.main_2_info button {
    font-family: 'PT Sans';
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: white solid 1px;
  }

  .container_news{
      background-color: black;
      padding: 0;
  }

.news{
    padding-top: 120px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
}
.news h1{
    font-family: 'PlayfairDisplay';
    font-size: 36px;
}
.news p{
    margin-top: 10px;
    color: lightgrey;
}

.news hr{
    width: 120px;
    background-color: white;
    margin: 40px 0;
}

.news_watchs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.new_watch {
    margin: 20px 12px;
  }

.new_watch img{
    width: 100%;
    height: auto;
    padding: 55px 22px;
}

.new_watch h3 {
    margin-top: 25px;
}
.new_watch з {
    color: lightgrey;
}

.container_brands{
  background-color: #0F0F0F;
  color: white;
}
.brands{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.brands h1{
  font-size: 36px;
  font-family: 'PlayfairDisplay';
  margin-top: 60px;
}
.brands hr{
  width: 120px;
  background-color: white;
  margin: 40px 0;
}
.brands_img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
}
.brands_img img{
  padding: 0 15px;
}
.footer_top {
  position: relative;
  z-index: 1;
  padding: 0;
}
.footer_top img{
  width: 100%;
  max-height: 400px;
  display: flex;
}
.footer_center {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.footer_center_test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container_footer_bottom{
  background-color: #0F0F0F;
}
.footer_bottom{
  display: flex;
  justify-content: space-between;
  color: lightgrey;
  padding: 17px 0;
}
.footer_bottom p{
  font-size: 12px;
  font-family: 'PT Sans', sans-serif;
}

.footer_about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
}

.footer_about p{
  font-size: 14px;
  line-height: 150%;
  font-family: 'PT Sans';
  margin-top: 40px;
}
.footer_about h1{
  font-size: 24px;
  font-family: 'PlayfairDisplay_r';
}

.footer_about_2{
  display: flex;
  flex-direction: column;
  max-width: 350px;
}
.footer_categories{
  margin-top: 40px;
  font-size: 14px;
}
.footer_about_2 h1{
  font-size: 24px;
  font-family: 'PlayfairDisplay_r';
}
.footer_categories button{
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #0F0F0F;
  color: lightgrey;
  margin-right: 20px;
  border: 0px;
}

.footer_about_3{
  display: flex;
  flex-direction: column;
  max-width: 350px;
}
.footer_about_3 h1{
  font-size: 24px;
  font-family: 'PlayfairDisplay_r';
}
.footer_about_3 p{
  font-size: 14px;
  line-height: 150%;
  font-family: 'PT Sans';
  margin: 40px 0;
}
.footer_subscribe{
  display: flex;
}
.footer_subscribe input{
  height: 42px;
  font-family: 'PT Sans';
  background-color: white;
  color: white;
  padding-left: 20px;
  border: 0;
}
.footer_subscribe button{
  background-color: #0F0F0F;
  color: white;
  padding: 10px 20px;
  border: 0;
}

.spoiler{
  display: none;
}
.one{
  display: none
}
.two{
  display: none
}
.three{
  display: none
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .poster .square {
    width: 230px;
    height: 230px;
    border: 2px white solid;
  }
  .square h1 {
    font-family: "PostNoBillsColombo";
    font-size: 40px;
    border-bottom: 2px white solid;
  }
  .square p {
    margin-top: 5px;
    font-size: 14px;
  }
  .main_2_info hr {
    margin: 20px 0;
  }
  .main_2_info p {
    line-height: 120%;
  }
  .poster_bottom p {
    line-height: 150%;
  }
  .main_1_watch hr {
    margin: 16px 0;
  }
  
  .footer_about p{
    font-size: 12px;
    line-height: 130%;
    margin-top: 30px;
  }
  .footer_about h1{
    font-size: 20px;
  }

  .footer_categories{
    margin-top: 30px;
    font-size: 12px;
  }
  .footer_about_2 h1{
    font-size: 20px;
  }
  .footer_categories button{
    font-size: 14px;
    margin-bottom: 20px;
    padding: 5px 10px;
    margin-right: 10px;
  }

  .footer_about_3 h1{
    font-size: 20px;
  }
  .footer_about_3 p{
    font-size: 12px;
    line-height: 130%;
    margin: 30px 0;
  }
  .footer_subscribe input{
    height: 40px;
    padding-left: 20px;
    border: 0;
  }
  .footer_subscribe button{
    background-color: #0F0F0F;
    color: white;
    padding: 8px 16px;
    border: 0;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .poster .square {
    width: 180px;
    height: 180px;
    border: 2px white solid;
  }
  .square h1 {
    font-family: "PostNoBillsColombo";
    font-size: 35px;
    border-bottom: 2px white solid;
  }
  .square p {
    margin-top: 5px;
    font-size: 12px;
  }
  .poster_bottom {
    margin-top: 25px;
  }
  .container_watch h3 {
    padding-top: 15px;
  }
  .container_watch img {
    padding: 30px 22px;
  }
  .main_2_photo img{
    max-width: 630px;
}
  .main_2_info hr {
    margin: 10px 0;
  }
  .main_2_info button {
    padding: 5px 10px;
    font-size: 16px;
  }
  .main_2_info p{
    font-size: 13px;
    padding: 0 20px 20px 20px;
  }

  .footer_about p{
    font-size: 10px;
    line-height: 120%;
    margin-top: 20px;
  }
  .footer_about h1{
    font-size: 16px;
  }

  .footer_categories{
    margin-top: 20px;
    font-size: 10px;
  }
  .footer_about_2 h1{
    font-size: 16px;
  }
  .footer_categories button{
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 10px;
    margin-right: 5px;
  }
  .footer_about_3 h1{
    font-size: 16px;
  }
  .footer_about_3 p{
    font-size: 10px;
    line-height: 120%;
    margin: 20px 0;
  }
  .footer_subscribe input{
    height: 35px;
    width: 110px;
    font-size: 15px;
    padding-left: 10px;
    border: 0;
  }
  .footer_subscribe button{
    background-color: #0F0F0F;
    color: white;
    font-size: 15px;
    padding: 8px 14px;
    border: 0;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .poster .square {
    width: 140px;
    height: 140px;
    border: 2px white solid;
  }
  .square h1 {
    font-family: "PostNoBillsColombo";
    font-size: 30px;
    border-bottom: 2px white solid;
  }
  .square p {
    margin-top: 5px;
    font-size: 10px;
  }
  .poster_bottom p{
      font-size: 14px;
  }
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 150px 10px 20px 10px;
    z-index: 4;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .menu.active {
    top: 0;
  }
  .header__list {
    display: block;
    height: auto;
    text-align: center;
  }
  .menu {
    display: block;
    height: auto;
    text-align: center;
  }
  .header__list li {
    margin: 0 0 50px 0;
  }
  .main_1{
      display: flex;
      flex-direction: column-reverse;
  }
  .main_1_watch{
      width: auto;
      padding: 20px 0;
  }
  .container_watch h3 {
    padding-top: 15px;
  }
  .main_2 {
    display: flex;
    flex-direction: column;
  }
  .main_2_photo img{
    max-width: 100%;
}
  .main_2_info{
      padding-top: 30px;
  }
  .main_2_info button{
      margin: 20px 0;
  }
  .main_2_info p{
    font-size: 14px;
    line-height: 140%;
  }
  .footer_about h1{
    font-size: 16px;
  }

  .footer_categories{
    margin-top: 20px;
    font-size: 10px;
  }
  .footer_about_2 h1{
    font-size: 16px;
  }
  .footer_categories button{
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 10px;
    margin-right: 5px;
  }
  .footer_about_3 h1{
    font-size: 16px;
  }
  .footer_about_3 p{
    font-size: 10px;
    line-height: 120%;
    margin: 20px 0;
  }
  .footer_subscribe input{
    height: 35px;
    width: 110px;
    font-size: 15px;
    padding-left: 10px;
    border: 0;
  }
  .footer_subscribe button{
    background-color: #0F0F0F;
    color: white;
    font-size: 15px;
    padding: 8px 14px;
    border: 0;
  }
  .footer_center_test{
    display: none;
  }

  .spoiler{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .h1_two{
    margin: 0 20px;
  }
  .footer_categories{
    display: flex;
  }
  .one{
    display: none;
    color:  lightgrey;
    margin: 10px 20px;
  }
  .two{
    display: none;
    margin: 20px 20px;
  }
  .two button{
    font-size: 14px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: lightgrey;
    color: #0F0F0F;
    margin-right: 20px;
    border: 0px;
  }
  .three{
    display: none;
    color:  lightgrey;
    margin: 10px 20px;
  }
  .three input{
    max-width: 200px;
    margin-top: 20px;
    height: 42px;
    font-family: 'PT Sans';
    background-color: white;
    color: #0F0F0F;
    padding-left: 20px;
    border: 0;
  }

  .three button{
    margin-top: 20px;
    background-color: #0F0F0F;
    color: white;
    padding: 10px 20px;
    border: 0;
  }
  
  
}

@media (max-width: 576px) {
  .c-header-1 {
    flex-direction: column;
    padding: 5px 0;
  }
  .left-ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .right{
    padding: 5px 0;
  }
  .top {
    height: auto;
  }
  .poster .square {
    width: 80px;
    height: 80px;
    border: 2px white solid;
  }
  .square h1 {
    font-family: "PostNoBillsColombo";
    font-size: 20px;
    border-bottom: 2px white solid;
  }
  .square p {
    margin-top: 5px;
    font-size: 7px;
  }
  .poster_bottom p{
    font-size: 8px;
  }
  .three_watch{
    flex-direction: column;
  }
  .container_watch {
    padding: 10px 0;
  }
  .main_1_watch{
      padding-top: 20px;
  }
  
}
